[role="button"],
input,
textarea,
button,
select {
  @apply focus:outline-none focus:ring;
}
a[role="button"] {
  display: inline-block;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Vue-Toastification__toast {
  font-family: inherit !important;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}

