@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: theme('colors.gray.900');
  color: white;
  @apply border-white border-opacity-5;
}

.prose thead {
  color: white;
}
.prose hr {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.prose th,
.prose thead,
.prose tr {
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}
.prose img {
  margin: 0 !important;
  display: inline-block;
}
.prose li,
.prose li * {
  margin: 0 !important;
}


.prose pre,
.prose code {
  font-family: 'Jetbrains mono', sans-serif;
  @apply bg-black bg-opacity-20 rounded-lg;
}

.prose code {
  @apply p-1 rounded-md !important;
  font-weight: 400 !important;
}

.prose pre code {
  padding: 0;
  background-color: transparent;
}
.prose a {
  color: theme('colors.blue.500') !important;
}
